i32 main() {
	i8 char_13 = '\n';
	i8 char_12 = '!';
	i8 char_11 = 'd';
	i8 char_10 = 'l';
	i8 char_9 = 'r';
	i8 char_8 = 'o';
	i8 char_7 = 'W';
	i8 char_6 = ' ';
	i8 char_5 = ',';
	i8 char_4 = 'o';
	i8 char_3 = 'l';
	i8 char_2 = 'l';
	i8 char_1 = 'e';
	i8 char_0 = 'H';

	i32 out = SYSCALL_3(1, 1, &char_0, 14);
}
