i32 main() {
	i8[14] msg;
	msg[0] = 'H';
	msg[1] = 'e';
	msg[2] = 'l';
	msg[3] = 'l';
	msg[4] = 'o';
	msg[5] = ',';
	msg[6] = ' ';
	msg[7] = 'W';
	msg[8] = 'o';
	msg[9] = 'r';
	msg[10] = 'l';
	msg[11] = 'd';
	msg[12] = '!';
	msg[13] = '\n';

	SYSCALL_3(1, 1, &msg, 14);
}
